In [4]:
## Tuple are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

## Creating a tuple

empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [8]:
mixed_tuple=(1,"Hello World",3.14,True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [9]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [10]:
print(numbers[2])
print(numbers[-1])

3
6

In [11]:
numbers[0:4]

(1, 2, 3, 4)

In [12]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [13]:
## Tuple Operations

concatination_tuple=numbers+mixed_tuple
print(concatination_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [14]:
## The entire tuple is appended 3 times
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [15]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [16]:
## Immutable nature of tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [17]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [18]:
numbers

(1, 2, 3, 4, 5, 6)

In [19]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [20]:
## Packing and unpacking tuple

packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [22]:
## Unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [23]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [26]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [29]:
nested_tuple=((1,2,3),("a","b","c"),(True,False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][0:2])
print(nested_tuple[1][2])

(1, 2, 3)
('a', 'b')
c

In [31]:
## Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [ ]:
## Conclusion 
# Tuples are versatile and useful in many real-world scenarios where an immutable and order collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Undestanding how to leverage tuples effectively can improve the efficiency and readability of your python code