In [ ]:
a=100

In [ ]:
# Declaring And Assigning Variables

age=22
height=5.9
name="Anindya"
is_Student=True

# Printing the Variables

print("age:",age)
print("height:",height)
print("name:",name)

age: 22
height: 5.9
name: Anindya

In [3]:
# Naming Conventions
# variable names should be descriptive 
# They must start with a letter or an '_' and contains letter, numbers and underscores
# Variables names case sensitive
# Valid variable names

first_name="Anindya"
last_name="Bhattacharya"

In [ ]:
# Invalid variable names
# 2age=30
# first-name="Anindya"
#@name="Anindya"

In [4]:
# Case Sensitivity
name="Anindya"
Name="Anindya"

In [5]:
# Understanding Variable types
# Python is dynamically typed, type of a variable is determined at runtime
age=22 #int
height=5.9 #float
name="Anindya" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [6]:
# Type checking and conversion

type(height)

float

In [8]:
age=22
print(type(age))

#Type conversion
age_str=str(age)
print(age_str,type(age_str))

<class 'int'>
22 <class 'str'>

In [ ]:
age='22'
print(type(int(age)))

<class 'int'>

In [10]:
name='Anindya'
int(name)

ValueError: invalid literal for int() with base 10: 'Anindya'

In [11]:
height=5.11
type(height)

float

In [18]:
float(int(height))

5.0

In [19]:
# Dynamic Typing
# Python allows the type of the variable to change as the program executes
var=10 #int
print(var,type(var))

var="hello"
print(var,type(var))

10 <class 'int'>
hello <class 'str'>

In [ ]:
# input
# in default the input takes everyinput as string
age=input("What is your age: ")
print(age,type(age))

22 <class 'str'>

In [22]:
age=int(input("What is your age: "))
print(age,type(age))

22 <class 'int'>

In [23]:
# Simple Calculator

num1= float(input("Enter first number:"))
num2= float(input("Enter second number:"))

sum= num1+num2
difference= num1-num2
product= num1*num2
quotient= num1/num2

print("Sum:",sum)
print("Difference:",difference)
print("Product:",product)
print("Quotient:",quotient)

Sum: 7.0
Difference: 3.0
Product: 10.0
Quotient: 2.5