In [ ]:
## What are Exceptions?

# Exceptions are events that disrupt the normal flow of a program. They occur when an error is encountered during program execution. Common exceptions include:
# 1. ZeroDivisionError:Dividing by zero.
# 2. FileNotFoundError:File not found.
# 3. ValueError:Invalid value.
# 4. TypeError: Invalid type.

In [1]:
a=b

NameError: name 'b' is not defined

In [2]:
try:
    a=b
except NameError as ex:
    print(ex)

name 'b' is not defined

In [3]:
result=1/0

ZeroDivisionError: division by zero

In [7]:
try:
    result:1/0
except ZeroDivisionError as ex:
    print(ex)
    print("Please enter the denominator greater than 0")
except Exception as ex1:
    print(ex1)

division by zero
Please enter the denominator greater than 0

In [9]:
try:
    num=int(input("Enter a number"))
    result=10/num
except ValueError:
    print("This is not a valid number")
except ZeroDivisionError:
    print("Enter denominator greater than 0")
except Exception as ex:
    print(ex)

Enter denominator greater than 0

In [11]:
## try, except , else block
try:
    num=int(input("Enter a number: "))
    result=10/num
except ValueError:
    print("That's not a valid number!")
except Exception as ex:
    print(ex)
else:
    print(f"The result is {result}")

The result is 0.43478260869565216

In [12]:
## try, except ,else and finally
try:
    num=int(input("Enter a number: "))
    result=10/num
except ValueError:
    print("That's not a valid number!")
except Exception as ex:
    print(ex)
else:
    print(f"The result is {result}")
finally:
    print("Excution complete")

The result is 2.0
Excution complete

In [13]:
try:
    file=open('example1.txt','r')
    content=file.read()
    a=b
    print(content)
except FileNotFoundError:
    print("the file does not exists")

finally:
    if 'file' in locals() and not file.closed():
        file.close()
        print('file close')

the file does not exists